#banner {
  position: relative;
  height: 415px;
  overflow: hidden;
  margin: 20px 50px;
}
.banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.arrow_left,
.arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.arrow_left {
  left: 20px;
}

.arrow_right {
  right: 20px;
}

.counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
  z-index: 2;
}

@media (max-width: 600px) {
  #banner {
    height: 255px;
    margin: 20px 20px;
  }
  .arrow_left {
    height: 24px;
    left: 0;
  }
  .arrow_right {
    height: 24px;
    right: 0;
  }
}
