#banner {
  position: relative;
  height: 415px;
  overflow: hidden;
  margin: 0 50px;
}
.banner_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.arrow_left,
.arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.arrow_left {
  left: 20px;
}

.arrow_right {
  right: 20px;
}
.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 2;
  .dot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    opacity: 0.6;
    &_selected {
      opacity: 1;
    }
  }
}

@media (max-width: 425px) {
  #banner {
    height: 255px;
    margin: 0 20px;
  }
  .arrow_left {
    height: 24px;
    left: 0;
  }
  .arrow_right {
    height: 24px;
    right: 0;
  }
}
