.housing-collapses {
  display: flex;
  gap: 76px;
  width: 100;
  margin: 20px 50px;
}

.housing-collapses > * {
  flex: 1;
  min-width: 0;
}

@media (max-width: 425px) {
  .housing-collapses {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    .collapse {
      &-title {
        height: 30px;
        font-size: 13px;
      }
    }
  }
  .housing-tags {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    .tag {
      width: 84px;
      height: 18px;
      border-radius: 10px;
      text-align: center;
      font-size: 14px;
    }
  }
}
