.card {
  border-radius: 10px;
  overflow: hidden;
  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    & img {
      width: 100%;
      height: 340px;
      object-fit: cover;
      border-radius: 10px;
    }
    & h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      font-family: Montserrat;
      background-color: #ff6060;
      margin: 0;
      padding: 10px 5px;
      justify-content: center;
    }
  }
}
@media (max-width: 425px) {
  .card-content {
    & img {
      height: 225px;
    }
    & h3 {
      height: 30px;
      font-size: 16px;
      padding: 5px 8px;
    }
  }
}
