.card {
  width: auto;
  height: 340px;
  background-color: #ff4040;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  & img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
}
