.collapse {
  width: 100%;
  margin: 20px auto;
  max-width: 1024px;
  &-title {
    position: relative;
    border-radius: 15px 15px 0 0;
    background-color: #ff6060;
    color: white;
    border: none;
    height: 52px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &-arrow {
    transition: transform 0.3s ease;
    &.open {
      transform: rotate(180deg);
    }
  }
  &-content {
    background-color: #f6f6f6;
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      padding 0.4s ease;
    padding: 0 15px;
    border-radius: 0 0 15px 15px;
    opacity: 0;
    &.open {
      max-height: 500px;
      padding: 15px;
      opacity: 1;
    }
  }
}
