.collapse {
  &-title {
    width: 100%;
    border-radius: 5px;
    background-color: #ff6060;
    color: white;
    border: none;
    height: 52px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &-arrow {
    transition: transform 0.3s ease;
    &.open {
      transform: rotate(180deg);
    }
  }
  &-content {
    overflow: hidden;
    max-height: 0; // fermé
    opacity: 0;
    background-color: #f6f6f6;
    border-radius: 0 0 15px 15px;
    padding: 0 15px;
    transition:
      max-height 0.4s ease,
      opacity 0.4s ease,
      padding 0.4s ease;

    &.open {
      max-height: 500px; // doit être supérieur à ton contenu
      padding: 10px 15px;
      opacity: 1;
    }

    > * {
      margin: 0;
    }
  }
}
