.housing {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 50px;
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .housing-content {
      h1 {
        font-size: 36px;
        font-weight: 400;
        color: #ff6060;
      }
      p {
        color: black;
        font-size: 18px;
      }
    }
    .housing-host {
      display: flex;
      flex-direction: row;
      gap: 10px;
      p {
        color: #ff6060;
        font-size: 18px;
      }
      .round-container {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .housing-tags {
      display: flex;
      gap: 10px;
      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff6060;
        color: white;
        border-radius: 25px;
        padding: 5px 15px;
        font-size: 14px;
        width: 115px;
        height: 25px;
        font-weight: bold;
      }
    }
    .housing-rating {
      color: #e3e3e3;
      .active {
        color: #ff6060;
      }
    }
  }
}

.collapses {
  display: flex;
  flex-direction: row;
}
