.housing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  margin: 10px 50px;
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .housing-content {
      h1 {
        font-size: 36px;
        font-weight: 400;
        color: #ff6060;
        margin: 0;
      }
      p {
        color: black;
        font-size: 18px;
      }
    }
    .housing-tags {
      display: flex;
      gap: 10px;
      .tag {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ff6060;
        color: white;
        border-radius: 25px;
        padding: 5px 15px;
        font-size: 14px;
        width: 115px;
        height: 25px;
        font-weight: bold;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    .housing-host {
      display: flex;
      flex-direction: row;
      gap: 10px;
      p {
        color: #ff6060;
        font-size: 18px;
      }
      .round-container {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .housing-rating {
      color: #e3e3e3;
      .active {
        color: #ff6060;
      }
    }
  }
}
.collapses {
  display: flex;
  flex-direction: row;
}

@media (max-width: 425px) {
  .housing {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    &-left {
      .housing-content {
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
      }
      .housing-tags {
        .tag {
          width: 84px;
          height: 22px;
        }
      }
    }
    &-right {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
}
