.housing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 50px;
  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    &-content {
      display: flex;
      flex-direction: column;
      & h1 {
        color: #ff4040;
      }
    }
  }
  &-right {
    &-host {
      & p {
        color: #ff4040;
      }
    }
    &-rating i {
      color: #e3e3e3;
      &.active {
        color: #ff6060;
      }
    }
  }
}

.collapses {
  display: flex;
  flex-direction: row;
}
