.header {
  width: 100%;
  &-container {
    max-width: 1200px;
    height: 68px;
    margin: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  gap: 24px;
  &-link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    &.active {
      text-decoration: underline;
      font-weight: 500;
    }
  }
}
