.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f6f6f6;
  border-radius: 16px;
  gap: 30px;
  padding: 20px;
}

@media (max-width: 425px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
  }
}
