.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f6f6f6;
  border-radius: 16px;
  height: 829px;
  margin: 10px 50px;
  padding: 30px;
  gap: 30px;
}
