.footer {
  width: 100%;
  background-color: black;
  color: white;
  &-container {
    max-width: 1200px;
    height: 209px;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
