.footer {
  width: 100%;
  background-color: black;
  color: white;
  &-container {
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
}
.mobile-break {
  display: inline;
}

@media (max-width: 425px) {
  .footer-container {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    width: 122px;
    margin: 0 auto;
    & p {
      text-align: center;
    }
  }
  .mobile-break {
    display: block;
  }
}
