.footer {
  width: 100%;
  background-color: black;
  color: white;
  &-container {
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 24px;
  }
}
