.banner {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
  }
}

.title {
  position: absolute;
  color: white;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  white-space: pre-line;
}

@media (max-width: 425px) {
  .banner {
    height: 111px;
    justify-content: flex-start;
  }
  .title {
    font-size: 24px;
    margin-left: 12px;
    text-align: left;
  }
}
