.banner {
  position: relative;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 50px;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.3);
  }
}

.title {
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
