.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  padding: 115px 50px;
  & p {
    color: #ff6060;
    font-family: montserrat;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
  }
}

@media (max-width: 1023px) {
  .notfound-container {
    padding: 65px 20px;
    gap: 65px;
    & img {
      width: 50%;
    }
    & p {
      font-size: 24px;
      text-align: center;
    }
  }
}

@media (max-width: 765px) {
  .notfound-container {
    padding: 113px 20px;
    gap: 113px;
  }
}
