.notfound-container {
  display: flex;
  flex-direction: column;
  gap: 139px;
}

.notfound-title {
  color: #ff6060;
}

.notfound-content {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 36px;
}
