.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
  & p {
    color: #ff6060;
    font-family: montserrat;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
  }
}
