.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 20px 50px;
  & p {
    color: #ff6060;
    font-family: montserrat;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
  }
}

@media (max-width: 1023px) {
  .notfound-container {
    margin: 20px 20px;
    gap: 20px;
    & img {
      width: 50%;
    }
    & p {
      font-size: 24px;
    }
  }
}
